.navigation {
    margin-top: 36px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    border-right: 2px solid;
    border-color: #969494;
    background-color: rgb(249, 236, 236);
    max-width: 10%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: sticky;
    top: 0%;
}

.navigation a {
    text-decoration: none;
}