.Feed ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Feed li {
    border: 1px #969494 solid;
    padding: 0.5em;
    margin-bottom: 0.5em;
    max-width: 20%;
    max-height: 20%;
    min-width: 40%;
    position: relative;
    margin-bottom: 2%;
    display: flex;
    padding: 0;
    display: flex;
    border-radius: 2%;
}