#Post {
    background-color: #cccccc;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    border-radius: 2%;
}

#LikesAndDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#PostPhoto {
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    align-items: center;
}

#PostTitle {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 2%;
}

#PostTitle a {
    text-decoration: none;
    color: 38, 38, 38;
    /* text-shadow: 0 0 5px #045e61, 0 0 3px #262929; */
}

#PostAlone {
    max-width: 40%;
    max-height: 40%;
    min-width: 40%;
    max-width: 40%;
    margin: auto;
}